<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
</head>

<body>


    <form action="http://192.168.20.20:3000/instagramUser/verifyuseremail/<%= priEmailToken %>" method="post">

        <h1>Hello,
            <%= name %> <br> Please Click on the Button to Verify Your E-mail.
        </h1>

        <a><button>Click here to verify</button> </a>
    </form>
    </h1>
</body>